DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:
SYNC_DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:
SECRET_KEY=
INTERNAL_KEY=
ALGORITHM=HS256
DEBUG=true
REDIS_URL=redis://localhost:
CELERY_BROKER_URL=redis://localhost:
CELERY_RESULT_BACKEND=redis://localhost:
OPENAI_API_KEY=